.btnLogin {
    float: right;
    margin-right: 2%;
}

.imgHeader {
    margin-left: 3%;
}

.marginLeft {
    margin-left: 3%;
}


.marginTop {
    margin-top: 3%;
}

.contacte{
    text-align: center;
}


body {
    font-size: 1rem;
}

@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 0.8rem;
    }
}

html {
    position: relative;
    min-height: 100%;
}


.blog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: #f5f5f5;
}

.content {
    flex: 1 0 auto;
}

.admAct{
    display: flex;
}

.imgPerfil {
    width: 50px;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 3%;
}

.right {
	text-align: right;
}

label {
	display: inline-block;
	width: 5em;
	margin: 0.3em;
}

a.boto{
    color: white;
    text-decoration: none;
}
body {
    margin: 0;
    padding-bottom: 200px; /* Altura del footer */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 135px; /* Altura del footer */
    background-color: #f5f5f5;
}
html {
    position: relative;
    min-height: 100%;
}