.btnLogin {
    float: right;
    margin-right: 2%;
}

.imgHeader {
    margin-left: 3%;
}

.marginLeft {
    margin-left: 3%;
}

.marginTop {
    margin-top: 3%;
}

.contacte{
    text-align: center;
}